/* Estilo geral da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

/* Layout principal: sidebar e conteúdo */
.container {
  display: flex;
  height: 100vh;
}

/* Estilo da barra lateral */
.sidebar {
  background-color: #111;
  width: 250px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: left;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  font-size: 18px;
}

.sidebar ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}

/* Estilo do conteúdo principal */
.main-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 40px;
}

.header {
  background-color: #1db954;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  padding: 10px 15px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #17a84b;
}

/* Estilo da lista de detentos */
.detentos-list {
  margin-top: 30px;
}

.detentos-list ul {
  list-style: none;
  padding: 0;
}

.detentos-list li {
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
